/target
node_modules
tests/integration/proptest-regressions/
/benches/output/*
!/benches/output/bytes2chars.md
!/benches/output/json_deser.md
!/benches/output/json_prettify.md
!/benches/output/json_uglify.md
!/benches/output/coverage.txt
benches/docker/.mise-oci/
