[submodule "tests/conformance/JSONTestSuite"]
	path = tests/conformance/JSONTestSuite
	url = https://github.com/nst/JSONTestSuite.git
[submodule "xtask/bench/data/json-benchmark"]
	path = xtask/bench/data/json-benchmark
	url = https://github.com/serde-rs/json-benchmark
[submodule "tests/conformance/utf8tests"]
	path = tests/conformance/utf8tests
	url = https://github.com/flenniken/utf8tests
[submodule "tests/conformance/prettier"]
	path = tests/conformance/prettier
	url = https://github.com/prettier/prettier.git
